.active{
    border-bottom: 1px solid #fff;
}

.linha:hover{
    border-bottom: 1px solid #fff;
}
.reta{
    height: 1px;
}

.fonte{
    font-family: 'Montserrat', sans-serif;
}
.fonte:hover{ 
    color:blue;
    cursor: pointer;
}
.margin{
    margin-top:150px;
}

.cu:hover{
    color:blue;
    cursor: pointer;
}

.cor{
    color:darkblue;
}

@media screen and (max-width: 900px){
    #border{
        border-top:none;
    }
    
    #button{
        width:60%;
        margin-bottom:10px;
    }

    #alinhar{
        display: flex;
        justify-content: center;
    }

} 

.cd{height: 300px; overflow-y: scroll;} 

