.active{
    border-bottom: 1px solid #fff;
}

.linha:hover{
    border-bottom: 1px solid #fff;
}
.reta{
    height: 1px;
}

.cd{height: 300px; overflow-y: scroll;}

.t{height: 40px;}

@media screen and (max-width: 900px){
    #border{
        border-top:none;
    }
    
    #button{
        width:60%;
        margin-bottom:10px;
    }

}